<section class="background-form">
    <div class="container-fluid col-12 col-md-9 col-lg-5 my-5 py-5 shadow-lg bg-body rounded" *ngIf="!verifying; else verifytemplate">
        <form #f="ngForm" novalidate (ngSubmit)="f.form.valid && onRegister(f)">
            <div>
                <img src="./assets/img/logo/header.svg" alt="logo destrabaja" class="img-fluid mx-auto py-3 d-block logo">
            </div>
            <div class="d-grid gap-2 col-9 col-md-8 col-lg-8 mx-auto my-3 justify-content-center">
                <label class="form-label fw-bold fs-5">Registrate</label>
            </div>
            <div class="d-grid gap-2 col-9 col-md-8 col-lg-8 mx-auto">
                <button class="btn btn-outline-dark mb-2" type="button" [disabled]="f.valid" (click)="onSinginFacebook()"><i class="bi bi-facebook pe-2"></i>Continuar con
                    Facebook</button>
                <button class="btn btn-outline-dark mb-2" type="button" [disabled]="f.valid" (click)="onSinginGoogle()"><i class="bi bi-google pe-2"></i>Continuar con
                    Google</button>
            </div>
            <div class="d-grid gap-2 col-9 col-md-8 col-lg-8 mx-auto my-3 justify-content-center">
                <label class="form-label">O</label>
            </div>
            <div class="d-grid gap-2 col-9 col-md-8 col-lg-8 mx-auto">
                <div class="mb-3">
                    <div>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Correo Electrónico"
                            ngModel required>
                    </div>
                </div>
                <div class="mb-3">
                    <div>
                        <input type="text" class="form-control" name="userName" id="userName"
                            placeholder="Nombre de Usuario" ngModel required>
                    </div>
                </div>
                <div class="mb-3">
                    <div>
                        <input type="password" class="form-control" name="password" id="password" ngModel required
                        placeholder="Contraseña">
                    </div>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" required>
                    <label class="form-check-label mb-5" for="flexSwitchCheckDefault">
                        Acepto la<a class="mx-1" routerLink="">Política de privacidad</a>,
                        <a class="mx-1" routerLink="">Acuerdo de usuario</a> y los <a class="mx-1" routerLink="">
                        Términos de servicio</a> de Destrabaja.
                    </label>
                </div>
            </div>
            <div class="d-grid gap-2 col-9 col-md-8 col-lg-8 mx-auto">
                <button class="btn btn-outline-dark mb-4 singup" type="submit" [disabled]="!f.valid">Únete a
                    Destrabaja</button>
            </div>
            <div class="d-flex flex-row mb-3 d-grid gap-2 col-12 mx-auto justify-content-center">
                <div class="pe-2"> <label class="form-label">¿Ya tienes una cuenta?</label>
                </div>
                <div><a routerLink="/singin">Iniciar Sesión</a></div>
            </div>
        </form>
    </div>
</section>

<ng-template #verifytemplate>
    <div class="container-fluid col-12 col-md-9 col-lg-5 my-5 py-5 shadow-lg bg-body rounded">
        <form #f="ngForm" novalidate (ngSubmit)="f.form.valid && onVerify(f)">
            <div>
                <img src="./assets/img/logo/header.svg" alt="Destrabaja" class="img-fluid mx-auto py-3 d-block logo">
            </div>
            <div class="d-grid gap-2 col-9 col-md-8 col-lg-8 mx-auto my-3 justify-content-center">
                <label class="form-label fw-bold fs-5">Verificación</label>
            </div>
            <div class="d-grid gap-2 col-9 col-md-8 col-lg-8 mx-auto">
                <div class="mb-3">
                    <div>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Correo Electrónico"
                            ngModel required>
                    </div>
                </div>
                <div class="mb-3">
                    <div>
                        <input type="text" class="form-control" name="verifyCode" id="verifyCode"
                            placeholder="Introducir código" ngModel required>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 col-9 col-md-8 col-lg-8 mx-auto">
                <button class="btn btn-outline-dark mb-2 singup" type="submit" [disabled]="!f.valid">Verificar</button>
            </div>
        </form>
    </div>
</ng-template>